<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><span id="bash">$ </span><a href="{{ site.baseurl }}/"><span id="mirango">mirango.io</span></h1></a>
    
    <script>
      console.log("welcome to mirango.io :)");
      document.getElementById("mirango").innerHTML = "";
    </script>
    
    <nav class="site-nav">
      <a class="page-link" href="/about">/ About /</a>
      <a class="page-link" href="https://keybase.io/sdwalsh">/ PGP Key /</a>
      <a class="page-link" href="https://www.twitter.com/mirangomadness">/ Twitter /</a>
      <a class="page-link" href="https://www.github.com/sdwalsh">/ GitHub /</a>
    </nav>

  </div>

</header>